<div class="p-4">
  <div class="container">
    <h1 class="mb-4">Welcome to Speedyfy Marathon Event Registration!</h1>
    <p>Below are the upcoming events:</p>

    <div class="mb-4 input-group">
      <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Search events..." (input)="filterEvents()">
    </div>

        <!-- Add Filter Controls -->
    <div class="mb-4">
      <select [(ngModel)]="selectedCategory" class="form-control" (change)="filterEvents()">
        <option value="All">All Categories</option>
        <option value="Half Marathon">Half Marathon</option>
        <option value="Full Marathon">Full Marathon</option>
        <option value="Ultra Marathon">Ultra Marathon</option>
        <option value="Duathlon">Duathlon</option>
        <option value="5K Marathon">5K Marathon</option>
        <option value="10K Marathon">10K Marathon</option>
      </select>
    </div>

    <div class="mb-4">
      <select [(ngModel)]="priceRange" class="form-control" (change)="filterEvents()">
        <option value="All">All Prices</option>
        <option value="Lowest to Highest">Lowest to Highest Price</option>
        <option value="Highest to Lowest">Highest to Lowest Price</option>
      </select>
    </div>

    <div class="container">
      <h1>Events</h1>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let event of filteredEvents">
          <div class="card mb-4 border-primary">
            <img [src]="'http://localhost:4000/' + event.image" alt="{{ event.name }}" style="width: 100%; height: auto; max-height: 250px; object-fit: cover;" />
            <div class="card-body">
              <h5 class="card-title">{{ event.name }}</h5>
              <p class="card-text">{{ event.description }}</p>
              <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
              <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
              <p class="card-text"><strong>Price:</strong> {{ event.price }}</p>
              <p class="card-text"><strong>Category:</strong> {{ event.category }}</p>
              <a [routerLink]="['/event-registration', event.id]" class="btn btn-primary">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>